/* region common */
:root {
    --boolando-primary: #ff6900;
    --boolando-dark: #1a1a1a;
    --boolando-light: #efedec;
    --boolando-lighter: #ffffff;
    --boolando-sales: #ff0000;
    --boolando-sostenibility: #008000;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1400px;
    margin: auto;
    width: 80%;
    align-items: center;
}

.d-flex {
    display: flex;
}

/*  end region common */

/* region utilities */
.grow {
    flex-grow: 1;
}

/*  end region utilities */

/* region header */
#site-header {
    background-color: var(--boolando-primary);
}

.sidebar {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    font-size: 20px;
    font-weight: 700;
    color: var(--boolando-lighter);
}

.logo {
    width: 15%;
    vertical-align: middle;

}

.logo>img {
    width: 100%;
}

.widget {
    text-align: end;

}

.widget>img {
    width: 30px;
    vertical-align: middle;
}

/*  end region header */
/* region main */
#site-main>.container {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.product {

    width: 32%;
    background-color: var(--boolando-lighter);
    margin-bottom: 60px;
}
.img-container {
    width: 100%;
    position: relative;
}
.img-container > img{
    width: 100%;
}
.heart{
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 30px;
    padding: 0.1rem 0.75rem;
    background-color: var(--boolando-lighter);
}
.sales-sosteny{
    position: absolute;
    left: 0;
    bottom: 10%;
    color: var(--boolando-lighter);
    font-size: 16px;
}
.sales{
    background-color: red;
}
.sostenibility{

    background-color: var(--boolando-sostenibility);
} 
.inline-block-container{
    display: inline-block;
    padding: 0.1rem 0.4rem ;
    border-radius: 0.1rem;
}
.brand{
    color: gray;
}
.geners{
    font-size: 20px;
    font-weight: 700;
}
.price-at-the-moment{
    color: var(--boolando-sales);
    font-weight: 700;
    display: inline-block;
}
.full-price{
    display: inline-block;
}
/*  end region main */

/* region footer */
/*  end region footer */

