/* region common */
:root {
    --boolando-primary: #ff6900;
    --boolando-dark: #1a1a1a;
    --boolando-light: #efedec;
    --boolando-lighter: #ffffff;
    --boolando-sales: #ff0000;
    --boolando-sostenibility: #008000;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: var(--boolando-lighter);
}

/*  end region common */

/* region utilities */

.container {
    max-width: 1400px;
    margin: auto;
    width: 80%;
    align-items: center;
}

.d-flex {
    display: flex;
}

.grow {
    flex-grow: 1;
}

/*  end region utilities */

/* region header */
#site-header {
    position: fixed;
    width: 100%;
    background-color: var(--boolando-primary);
    padding: 15px;
    z-index: 1;
    top: 0;
}

.sidebar {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    font-size: 20px;
    font-weight: 700;
    color: var(--boolando-lighter);
}

.logo {
    width: 15%;
    vertical-align: middle;

}

.logo>img {
    width: 100%;
}

.widget {
    text-align: end;

}

.widget>img {
    width: 20px;
    padding-right: 5px;
    vertical-align: middle;
}

/*  end region header */

/* region main */
#site-main>.container {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top:140px;
}

.product {
    width: 32%;
    background-color: var(--boolando-lighter);
    margin-bottom: 60px;
    border-radius: 1rem;
    box-shadow: 0 0 10px;
}

.img-container {
    width: 100%;
    position: relative;
}

.img-container > img{
    width: 100%;
    display: block;
}

.heart{
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 30px;
    padding: 0.1rem 0.75rem;
    background-color: var(--boolando-lighter);
}

.badges{
    position: absolute;
    left: 0;
    bottom: 10%;
    color: var(--boolando-lighter);
    font-size: 16px;
}

.sales{
    background-color: red;
}

.sostenibility{

    background-color: var(--boolando-sostenibility);
}

.inline-block-container{
    display: inline-block;
    padding: 0.1rem 0.4rem ;
    border-radius: 0.1rem;
}

.info-product{
    margin-bottom: 10px;
    box-shadow: 2px #1a1a1a;
    padding: 5px;
}

.brand{
    color: gray;
}

.geners{
    font-size: 20px;
    font-weight: 700;
}

.price-at-the-moment{
    color: var(--boolando-sales);
    font-weight: 700;
    display: inline-block;
}
.full-price{
    display: inline-block;
}
/*  end region main */

/* region footer */
#site-footer{
    background-color: var(--boolando-dark);
    color: var(--boolando-lighter);
    padding: 40px 0;
}

.policy > ul > li{
    font-weight: 400;
    font-size: 16px;
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    padding-right: 5px;
}

.footer-space{
    justify-content: space-between;
}

.social{
    width: 160px;
}

h3{
    font-size: 16px;
    text-align: center;
}

.social-widget{
    margin-top: 10px;
    width: 100%;
    width: 25px;
    gap: 0.5rem;
}
/*  end region footer */

/* region hover */
.product:hover .heart{
    color: var(--boolando-sales);
}

.product:hover img{
    opacity: 0;
}

.product:hover .first{
    background-image: url('../img/1b.webp');
    background-size: cover;
}

.product:hover .second{
    background-image: url('../img/2b.webp');
    background-size: cover;
}
.product:hover .third{
    background-image: url('../img/3b.webp');
    background-size: cover;
}
.product:hover .four{
    background-image: url('../img/4b.webp');
    background-size: cover;
}
.product:hover .five{
    background-image: url('../img/5b.webp');
    background-size: cover;
}
.product:hover .six{
    background-image: url('../img/6b.webp');
    background-size: cover;
}

/* end region hover */